html{
    background-color: rgb(255, 255, 255);
}

h1{
    border: 1px solid chartreuse;
    color: rgb(228, 154, 154);
    background-color: rgb(204, 216, 241);
    position:absolute;
    top: 20px;
    padding: 5px 100px;
    margin-bottom: 5px;
}

.by{
    color: rgb(0, 0, 0);
    margin-bottom: 5px;;
}

div{
    margin-bottom: 1px;
    padding: 5px;
}

body{
    position: absolute;
    left: 200px;
}

.body1{position: relative;
    border-top:2px solid aquamarine;
    right: 50px;
    top: 20px;
    height: 100px;
    width: 500px;
    background-color: rgb(211, 241, 231);
    margin: 40px 5px 50px 10px;
    padding: 30px;
}

.body2{
    position: relative;
    left: 100px;
    border-top: 7px solid rgb(190, 225, 230);
    background: rgb(226, 236, 233);
    padding: 50px;
}

.body3{
    position: relative;
    right: 60px;
    border-top: 7px solid rgb(205, 218, 253);
    margin: 20px;
    background-color: rgb(223, 231, 253);
    padding: 50px;
}

.body4{
    position: relative;
    left: 150px;
    border-top: 7px solid rgb(250, 210, 225);
    padding-left: 70px;
    margin: 10px;
    background-color: rgb(253, 226, 228);
}

.body5{
    position: relative;
    right: 70px;
    border-top: 7px solid rgb(240, 239, 235);
    margin: 40px;
    padding: 40px;
    background-color: rgb(255, 241, 230);


}

.body6{
    position: relative;
    padding: 10px 10px 10px 100px;
    left: 100px;
    border-top: 7px solid rgb(190, 225, 230);
    background-color: rgb(226, 236, 233);

}

a{
    color: red;
    font-family: 'Roboto', sans-serif;
}